.TransformMode {
    display: flex;
    align-items: center;

    padding: 0.5em;

    border: 1px solid white;
    border-radius: 0.25em;
}

.TransformMode input {
    position: relative;
    width: 3em;
    height: 3em;
    margin-right: 1em;

    -webkit-appearance: unset;
    -moz-appearance: unset;
    border: 1px solid white;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.5);
}

.TransformMode input::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;

    transition: background 200ms;
    clip-path: polygon(
        85% 25%,
        95% 35%,
        40% 90%,
        5% 55%,
        15% 45%,
        40% 70%
    );
}

.TransformMode input:checked::after {
    background: white;
}